@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


body {
   font-family: 'Roboto', sans-serif;
   background: #fcfefe;
   margin: 0;
   padding: 0;
}
img {
   height: 50px;
}

.navbar {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   margin: 50px 10%;
}

.nav-items {
   display: flex;
   gap: 30px ;
   align-items: center;
   flex-wrap: wrap;
}

.nav-item ,p {
   text-decoration: none;
   color: #696969;
   font-size: small;
}

button {
   color: #ffffff;
   border: 1px solid #369ac8;
   padding: 15px 25px;
   font-size: 16px;
   border-radius: 6px;
   font-weight: 700;
}

button.nav-item , .choose-plan  {
   color: #0780ee;
   border: 1px solid #369ac8;
   background-color: transparent;
}

/* header section */


.header-section , .service-section , .reviews  {
   margin: 50px 10%;
}

.header-item {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 50px;
   gap: 10px;
   flex-wrap: wrap-reverse;
}


.head-image {
   height: 400px;
   width: 400px;
}
.head-content {
   width: 400px;
}

h1 {
   font-size: 40px;
}

.head-content > * {
   margin-bottom: 30px;
}

.head-content button {
   background-image: linear-gradient(to right bottom, #09c5f8, #0561e9);
}

/* service section */

.service-intro {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
   margin-bottom: 40px;
   flex-wrap: wrap;
}

.service-intro h1, .service-intro p {
   width: 400px;
}

.service-cards {
   display: flex;
   gap: 50px;
   margin-bottom: 100px;
   justify-content: space-between;
   flex-wrap: wrap;
}

.service-card-item {
   width: 240px
}
/* pricing Section */

.pricing-section {
   background-image: linear-gradient(to right bottom, #09c5f8, #0561e9);
   padding: 50px 10%;
}
.pricing-section h1 {
   text-align: center;
   color: #fff;
}

.pricing-cards {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 40px;
   flex-wrap: wrap;
}

.pricing-card-item {
   background-color: #fff;
   padding: 10px 30px;
   width: 180px
}





.choose-plan.active1 {
   background-image: linear-gradient(to right bottom, #09c5f8, #0561e9);
   color: #ffffff;
}


.pc-top {
margin-bottom: 40px;
}

.pc-top h3 {
   font-size: 30px;
   margin: 0;
}

.pc-mid-content {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.pc-mid-content h4 {
   margin: 10px 5px;
   font-weight: 100;
   font-size: 12px;
}

.pc-mid-content img {
   height: 20px;
}

.pc-bottom {
   text-align: center;
   margin-bottom: 40px;
}

.pc-bottom span {
   color: #696969;
}


/* reviews */

.reviews {
   margin: 100px 10%;
}

.review-intro {
   text-align: center;
   margin: 40px 0px;
   padding: 0 20%;
}


.review-cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 20px;
   align-items: center;
}
.review-card-item {
   border: 1px solid #c4c4c4;
   padding: 10px 20px;
   width: 360px;
}

.user-id {
   display: flex;
   align-items: center;
   gap: 20px;
}

.user-id h4 {
   margin: 10px 0px;
}

.circle {
   height: 70px;
   width: 70px;
   border-radius: 999px;
   background-color: #d5d5d5;
}

/* marketing section */

.marketing-section {
   background-image: linear-gradient( to right bottom , #09c5f8 , #0561e9);
   padding: 50px 10%;
   color: #fff;
   display: flex;
   justify-content: space-between;
}

.marketing-section p {
   color: #fff;
}



button.register-us {
   border: 1px solid white;
   background: transparent;
   margin-top: 70px;
   margin-bottom: 70px;
}

.marketing-message {
   width: 100%;
}


/* footer */

footer {
   margin: 100px 10%;
   margin-bottom: 30px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}


.footer-active {
   font-size: 20px;
   font-weight: 700;
   color: #000;
}

@media screen and (max-width: 768px) {

   .head-image {
      width: 30vh;
      height: 30vh;
   }

   .review-intro {
      text-align: center;
      margin: 40px 0px;
      padding: 0 0%;
   }

   .review-cards {
      gap: 40px;
   }
   .service-intro {
      margin-top: 50vh;
      justify-content: space-around;
   }
   .service-cards {
      justify-content: space-around;
   }
   .pricing-cards {
      justify-content: space-around;
   }

   .marketing-section {
      display: block ;
   }

   footer {

   }
}